{% extends 'admin/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2>Register</h2>
      <hr>
      <form method="post">
        {% csrf_token %}
    <select id="role" name="role">
  <option value="">Select a role</option>
  <option value="student">Student</option>
  <option value="teacher">Teacher</option>
</select>

        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">Username:</label>
          {{ form.username }}
        </div>
        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">Email:</label>
          {{ form.email }}
        </div>
        <div class="form-group">
          <label for="{{ form.password1.id_for_label }}">Password:</label>
          {{ form.password1 }}
        </div>
        <div class="form-group">
          <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
          {{ form.password2 }}
        </div>
        {% if form.birthday %}
        <div class="form-group">
          <label for="{{ form.birthday.id_for_label }}">Birthday:</label>
          {{ form.birthday }}
        </div>
        {% endif %}
        {% if form.student_number %}
        <div class="form-group">
          <label for="{{ form.student_number.id_for_label }}">Student Number:</label>
          {{ form.student_number }}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

